body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

.page {
  width: 1000px;
  margin: 65px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #000;
  font-weight: normal;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 48px; /*Uma das formas de se trabalhar com espaçamento do display flex*/
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: #1F1534;
}

ul li a {
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}


p {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
color: #7D7987;
margin: 40px 0;
}

/*button {
  text-transform: uppercase;
  /*color: #F9F9F9;
  font-family: 'Open Sans', sans-serif;
}*/

button {
  border-radius: 4px;
  display: flex;
  text-transform: uppercase;
  color: #F9F9F9;
  font-family: 'Open Sans', sans-serif;
  background: #69B99D;
  border: none;
  padding: 14px 32px 15px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

button:hover {
  background: #468d74;
}

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 50px;
}

/*footer {
  text-align: center;
  margin-top: 80px;
}*/

footer a {
  font-weight: bold;

}

a {
  text-decoration: none;
  color: #000000;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}